<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.letere.demo.mapper.DemoMapper">

    <select id="pageDemo" resultType="com.letere.demo.entity.vo.DemoVO">
        SELECT
            *
        FROM
            `demo`
        <where>
            <if test="demoParam.demoKey != null and demoParam.demoKey != ''">
                demo_key LIKE CONCAT( '%', #{demoParam.demoKey}, '%' )
            </if>
        </where>
    </select>
</mapper>
